In [3]:
# ! pip install kaggle
# ! mldir~/.kaggle
# ! cp kaggle.json ~/.kaggle/
# ! chmod 600 ~/.kaggle/kaggle.json
# ! kaggle datasets download -d shubhambathwal/flight-price-prediction

Requirement already satisfied: kaggle in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\thien\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\thien\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.0.6)
Requirement already satisfied: bleach in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\thien\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\thien\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)

'mldir~' is not recognized as an internal or external command,
operable program or batch file.
'cp' is not recognized as an internal or external command,
operable program or batch file.
'chmod' is not recognized as an internal or external command,
operable program or batch file.

Downloading flight-price-prediction.zip to d:\Project\Flight-Price-Prediction-Project

  0%|          | 0.00/4.16M [00:00<?, ?B/s]
 48%|████▊     | 2.00M/4.16M [00:00<00:00, 11.8MB/s]
 96%|█████████▌| 4.00M/4.16M [00:00<00:00, 11.8MB/s]
100%|██████████| 4.16M/4.16M [00:00<00:00, 11.8MB/s]

In [5]:
# from zipfile import ZipFile
# filename = 'flight-price-prediction.zip'
# with ZipFile(filename, 'r') as zip:
#     zip.extractall()
#     print('Done!')

Done!

In [6]:
import opendatasets as od
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
warnings.filterwarnings("ignore")
# %matplotlib inline

from sklearn.model_selection import train_test_split

In [20]:
od.download('https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction/data')

Downloading flight-price-prediction.zip to .\flight-price-prediction

100%|██████████| 4.16M/4.16M [00:00<00:00, 11.8MB/s]

In [12]:
df = pd.read_csv('Clean_Dataset.csv')
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [13]:
#dropping the unnamed: 0 column
df = fligheprice.drop(columns=['Unnamed: 0'])

In [14]:
# quick information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   flight            300153 non-null  object
 2   source_city       300153 non-null  object
 3   departure_time    300153 non-null  object
 4   stops             300153 non-null  object
 5   arrival_time      300153 non-null  object
 6   destination_city  300153 non-null  object
 7   class             300153 non-null  object
 8   duration          300153 non-null  float64
 9   days_left         300153 non-null  int64
 10  price             300153 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 25.2+ MB

In [23]:
float('SpiceJet')

ValueError: could not convert string to float: 'SpiceJet'

In [22]:
float_cols = ['airline', 'flight', 'source_city', 'departure_time','stop', 'arrival_time','destination_city','class']
for col in float_cols:
    df[col] = df[col].astype('float')

ValueError: could not convert string to float: 'SpiceJet'

In [15]:
df.describe()

            duration      days_left          price
count  300153.000000  300153.000000  300153.000000
mean       12.221021      26.004751   20889.660523
std         7.191997      13.561004   22697.767366
min         0.830000       1.000000    1105.000000
25%         6.830000      15.000000    4783.000000
50%        11.250000      26.000000    7425.000000
75%        16.170000      38.000000   42521.000000
max        49.830000      49.000000  123071.000000

In [17]:
df.corr().T

ValueError: could not convert string to float: 'SpiceJet'

In [18]:
df.shape

(300153, 11)

In [19]:
df1 = df.groupby(['flight', 'airline'], as_index=False).count()
df1.airline.value_counts()

airline
Indigo       704
Air_India    218
GO_FIRST     205
SpiceJet     186
Vistara      133
AirAsia      115
Name: count, dtype: int64

In [21]:
# visualizations

plt.Figure(figsize = (15, 10))
sns.countplot(data = df1['airline'], palette = 'hls')
plt.title('Flights by Airline', fontsize = 20)
plt.xlabel('Airline', fontsize = 15)
plt.ylabel('Number of Flights', fontsize = 15)
plt.show()

ValueError: could not convert string to float: 'Indigo'